src/R.MessageBus.Settings/ConfigurationSection.csd.xsd

<?xml version="1.0"?>
<!--
<auto-generated>
    This code was generated by a tool.

     Changes to this file may cause incorrect behavior and will be lost if
    the code is regenerated.
</auto-generated>
-->
<xs:schema xmlns:tns="BusSettings" elementFormDefault="qualified" targetNamespace="BusSettings" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="BusSettings" type="tns:BusSettings.BusSettingsCT" />
	<xs:complexType name="BusSettings.BusSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="EndpointSettings" type="tns:BusSettings.BusSettingEnpointCT">
				<xs:annotation>
					<xs:documentation>The EndpointSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BusConfiguration.TransportSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="Queue" type="tns:BusSettings.QueueCT">
				<xs:annotation>
					<xs:documentation>The Queue.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Exchange" type="tns:BusSettings.ExchangeCT">
				<xs:annotation>
					<xs:documentation>The Exchange.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="Retries" type="tns:BusSettings.RetriesCT">
				<xs:annotation>
					<xs:documentation>The Retries.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Host" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Host.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="NoAck" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The NoAck.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Username" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Username.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Password" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Password.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BusSettings.ArgumentsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Argument" type="tns:BusSettings.ArgumentCT">
				<xs:annotation>
					<xs:documentation>The Argument Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BusSettings.ArgumentCT">
		<xs:attribute name="Name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="value" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Value.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BusSettings.QueueCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="arguments" type="tns:BusSettings.ArgumentsCT">
				<xs:annotation>
					<xs:documentation>The Arguments.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Durable" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Durable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Exclusive" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Exclusive.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AutoDelete" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AutoDelete.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RoutingKey" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The RoutingKey.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BusSettings.ExchangeCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="Arguments" type="tns:BusSettings.ArgumentsCT">
				<xs:annotation>
					<xs:documentation>The Arguments.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="Name" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="Durable" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The Durable.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="AutoDelete" use="optional" type="xs:boolean">
			<xs:annotation>
				<xs:documentation>The AutoDelete.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BusSettings.RetriesCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="arguments" type="tns:BusSettings.ArgumentsCT">
				<xs:annotation>
					<xs:documentation>The Arguments.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="MaxRetries" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The MaxRetries.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="RetryDelay" use="optional" type="xs:int">
			<xs:annotation>
				<xs:documentation>The RetryDelay.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BusConfiguration.PersistanceSettingsCT">
		<xs:attribute name="Database" use="optional" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Database.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
		<xs:attribute name="ConnectionString" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The ConnectionString.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="BusSettings.BusSettingEnpointCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" maxOccurs="unbounded" name="Enpoint" type="tns:BusSettings.EndpointSettingsCT">
				<xs:annotation>
					<xs:documentation>The EndpointSettings Configuration Element.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="BusSettings.EndpointSettingsCT">
		<xs:choice minOccurs="0" maxOccurs="unbounded">
			<xs:element minOccurs="0" name="TransportSettings" type="tns:BusConfiguration.TransportSettingsCT">
				<xs:annotation>
					<xs:documentation>The TransportSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="PersistanceSettings" type="tns:BusConfiguration.PersistanceSettingsCT">
				<xs:annotation>
					<xs:documentation>The PersistanceSettings.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
		<xs:attribute name="name" use="required" type="xs:string">
			<xs:annotation>
				<xs:documentation>The Name.</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
</xs:schema>
